html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
  height: 0;
  width: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  background: $gradient-supersoft;
  padding-bottom: 60px;
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0%;
    transform: translateY(100%);
    left: 20px;
    right: 20px;
    height: 10px;
    background: #cacadb;
    border-radius: 0px 0px 12px 12px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0%;
    transform: translateY(200%);
    left: 40px;
    right: 40px;
    height: 10px;
    background: #e7e7f2;
    border-radius: 0px 0px 12px 12px;
  }

  // height: 100vh;
  // background-image: url(../image/Symbol.png);
  // background-size: cover;
  // background-repeat: no-repeat;
}

.container {
  // от 0px до бесконечности
  padding: 0 30px;

  @media (min-width: $breakpoint-md) {
    // от 767px до бесконечности
    // max-width: 708px;
    margin: 0 auto;
    padding: 0 60px;
  }

  @media (min-width: $breakpoint-lg) {
    // от 1024px до бесконечности
    max-width: 964px;
  }

  @media (min-width: $breakpoint-xl) {
    // от 1440px до бесконечности
    max-width: 1380px;
  }

  @media (min-width: $breakpoint-xxl) {
    // от 1920px до бесконечности
    max-width: 1660px;
    padding: 0 160px;
  }
}

.main-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: $color-text;
}

.container__publications {
  // от 0px до бесконечности
  padding: 0 30px;

  @media (min-width: $breakpoint-md) {
    // от 768px до бесконечности
    max-width: 648px;
    margin: 0 auto;
    padding: 0 60px;
  }

  @media (min-width: $breakpoint-lg) {
    // от 1024px до бесконечности
    max-width: 904px;
  }

  @media (min-width: $breakpoint-xl) {
    // от 1440px до бесконечности
    max-width: 1320px;
  }

  @media (min-width: $breakpoint-xxl) {
    // от 1920px до бесконечности
    max-width: 1600px;
    padding: 0 160px;
  }
}
