.header {
  color: $color-text;
  background: url(../images/Hlegal_bg.svg) no-repeat 50% / auto 100%;

  // .header_container

  &_container {
  }

  // .header__main

  &__main {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  // .header__head

  &__head {
    @media (min-width: $breakpoint-lg) {
      position: relative;
    }
  }

  // .header__social

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);
    margin: 0 -30px 15px;
    @media (min-width: $breakpoint-md) {
      margin: 50px 0 30px;
      padding: 0px 0;
      background: transparent;
      justify-content: start;
      gap: 18px;
    }
    @media (min-width: $breakpoint-lg) {
      padding: 0;
      margin: 50px 0px 16px 0;
      justify-content: end;
    }
  }

  // .header__lang

  &__lang {
    display: flex;
    @include title__fw-fz-lh(700, 12px, 15px);
  }

  // .header__social-item

  &__social-item {
    cursor: pointer;
    padding: 5px 7px;
    border-radius: $main-radius;
    &.active {
      background: $background-accent;
    }
  }

  // .header__social-adress

  &__social-adress {
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }

  // .header__social-phone

  &__social-phone {
    font-weight: 700;
    color: #ffff;
  }

  // .header__social-logo

  &__social-logo {
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }

  // .header__social-logo-svg

  &__social-logo-svg {
    width: 24px;
    height: 24px;
    transform: translateY(15%);
    fill: $color-text;
  }

  // .header__logo

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0 -15px;

    @media (min-width: $breakpoint-md) {
      margin: 0 0 30px 0;
    }

    @media (min-width: $breakpoint-lg) {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
    }

    span {
      font-size: 26px;
      line-height: 24px;
      color: $background-accent;
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }

    span + span {
      font-size: 20px;
      color: $color-text;
    }
  }

  // .header__logo-link

  &__logo-link {
  }

  // .header__logo-logo

  &__logo-logo {
    width: 69px;
    height: 32px;
    @media (min-width: $breakpoint-md) {
      width: 130px;
      height: 60px;
      margin: 0;
    }
  }

  // .header__burger-menu

  &__burger-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    border-radius: $main-radius;
    cursor: pointer;

    &.active {
      background: $grey-separator-color;
      color: $grey-separator-color;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 14px;
      border-bottom: 2px solid $color-text;
      border-top: 2px solid $color-text;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background: $color-text;
      }
    }
    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  // .header__nav

  &__nav {
    position: fixed;
    bottom: 0;
    right: 8px;
    left: 8px;
    z-index: 20;
    background: $color-text;
    border-radius: 12px 12px 0 0;
    transform: translateY(101%);
    &.active {
      transform: translateY(0);
      transition: 2s ease-in-out;
    }

    @media (min-width: $breakpoint-md) {
      position: static;
      background: transparent;
      border-radius: unset;
      transform: none;
    }

    @media (min-width: $breakpoint-lg) {
      // padding: 0;
      // margin: 0;
      display: flex;
      justify-content: end;
    }
  }

  // .header__nav-close

  &__nav-close {
    cursor: pointer;
    margin: 12px 12px 0 0;
    width: 32px;
    height: 32px;
    margin-left: auto;
    position: relative;
    @media (min-width: $breakpoint-md) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 7px;
      width: 18px;
      border: 2px solid #ec6f5d;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 7px;
      width: 18px;
      border: 2px solid #ec6f5d;
      transform: rotate(-45deg);
    }
  }

  // .header__nav-list

  &__nav-list {
    padding: 20px 12px 12px;

    @media (min-width: $breakpoint-md) {
      display: flex;
      gap: 15px;
      padding: 0;
    }
  }

  // .header__nav-item

  &__nav-item {
    margin: 0 auto;
    padding: 7px 0;
    background: $grey-color;
    border-radius: 12px;

    @media (min-width: $breakpoint-md) {
      background: transparent;
      width: auto;
      padding: 0;
      margin: 0;
    }
  }

  &__nav-item-mg {
    margin-bottom: 15px;
    @media (min-width: $breakpoint-md) {
      margin: 0;
    }
  }

  // .header__nav-link

  &__nav-link {
    display: block;
    text-align: center;
    @include title__fw-fz-lh(700, 24px, 29px);
    color: $color-regular;

    &:hover {
      color: $background-accent;
    }

    &.active {
      color: $background-accent;
      transform: translate(0, 0);
    }

    @media (min-width: $breakpoint-md) {
      @include title__fw-fz-lh(700, 16px, 20px);
      color: $color-text;
    }
  }

  // .header__inner

  &__inner {
    text-align: center;
  }

  // .header__inner-title

  &__inner-title {
  }

  // .header__goto

  &__goto {
    width: 42px;
    height: 42px;
    margin: 40px auto 30px;
    background-repeat: 50%;
    border: 2px solid $color-text;
    opacity: 0.5;
    border-radius: 50%;
    position: relative;
    scroll-behavior: initial;
    &::before {
      opacity: 1;
      content: "";
      position: absolute;
      top: 8px;
      left: 11px;
      width: 15px;
      height: 15px;
      border-left: 2px solid $color-text;
      border-bottom: 2px solid $color-text;
      transform: rotate(-45deg);
    }
  }
}
.container {
}
.header-social {
  // .header-social__item

  &__item {
    @media (min-width: $breakpoint-md) {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -11px;
        width: 6px;
        height: 6px;
        background: $color-text;
        border-radius: 50%;
        pointer-events: none;
      }
    }
  }
}

// _______________________________________________________________________________

.wrapper {
  // .wrapper__publications

  &__publications {
  }
}
.header {
  // .header__publications

  &__publications {
  }

  // .header__publications-container

  &__publications-container {
    @media (min-width: $breakpoint-xxl) {
      max-width: 1600px;
    }
  }

  // .header__publications-main

  &__publications-main {
  }

  // .header__publications-head

  &__publications-head {
  }

  // .header__publications-social

  &__publications-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $grey-color;
    margin: 0 -30px;
    padding: 10px 15px;
    @media (min-width: $breakpoint-md) {
      justify-content: start;
      gap: 18px;
      background: transparent;
      margin: 0;
      padding: 50px 0 30px 0;
    }
  }

  // .header__publications-social-2

  &__publications-social-2 {
  }

  // .header__publications-lang

  &__publications-lang {
    display: flex;

    @media (min-width: $breakpoint-md) {
    }
  }

  // .header__publications-social-item

  &__publications-social-item {
    padding: 5px 7px;
    border-radius: 8px;
    @include title__fw-fz-lh(700, 12px, 15px);
    color: $grey-color-text;
    &.active {
      background: $background-accent;
      color: whitesmoke;
    }
  }

  // .header__publications-social-adress

  &__publications-social-adress {
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
      @include title__fw-fz-lh(400, 16px, 20px);
      color: $grey-color-text;
    }
  }

  // .header__publications-social-item-extra

  &__publications-social-item-extra {
    @media (min-width: $breakpoint-md) {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(-200%, -50%);
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $grey-separator-color;
      }
    }
  }

  // .header__publications-social-phone

  &__publications-social-phone {
    @include title__fw-fz-lh(700, 16px, 20px);
    color: $grey-color-text;
  }

  // .header__publications-social-logo

  &__publications-social-logo {
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }

  // .header__publications-social-logo-svg

  &__publications-social-logo-svg {
    width: 24px;
    height: 24px;
    fill: $grey-color-text;
    transform: translateY(10%);
  }

  // .header__publications-logo

  &__publications-logo {
    margin: 0 -15px;
    padding: 15px 0 10px 0;
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;

    & > span {
      font-size: 28px;
      font-weight: 900;
      color: red;
      @media (min-width: $breakpoint-md) {
        font-size: 47px;
        transform: translateY(-20%);
      }
    }

    & > span + span {
      @include title__fw-fz-lh(400, 20px, 24px);
      color: $background-main;
      @media (min-width: $breakpoint-md) {
        @include title__fw-fz-lh(400, 36px, 44px);
      }
    }

    @media (min-width: $breakpoint-md) {
      margin: 0;
      padding: 0 0 30px 0;
    }
  }

  // .header__publications-logo-link

  &__publications-logo-link {
    line-height: 4px;
    display: inline-block;
  }

  // .header__publications-logo-logo

  &__publications-logo-logo {
    width: 69px;
    height: 32px;

    @media (min-width: $breakpoint-md) {
      width: 130px;
      height: 60px;
    }
  }

  // .header__publications-burger-menu

  &__publications-burger-menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    cursor: pointer;

    & > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-top: 2px solid $background-main;
      border-bottom: 2px solid $background-main;
      height: 14px;
      width: 18px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $background-main;
        width: 18px;
      }
    }

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  // .header__publications-navi

  &__publications-navi {
    position: fixed;
    bottom: 0px;
    left: 12px;
    right: 12px;
    padding: 12px 0;
    background: #ffffff;
    border-radius: 12px 12px 0px 0px;

    background: #af9595;

    transform: translateY(101%);
    // overflow: hidden;
    &:active {
      transform: translateY(0%);
    }
    @media (min-width: $breakpoint-md) {
      background: transparent;
      position: static;
      transform: none;
      overflow: visible;
    }
  }

  // .header__publications-navi-close

  &__publications-navi-close {
    margin-left: auto;
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 25px;
      transform: translate(10%, -50%) rotate(-45deg);
      border: 2px solid #ec6f5d;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 25px;
      transform: translate(10%, -50%) rotate(45deg);
      border: 2px solid #ec6f5d;
    }

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }

  // .header__publications-navi-list

  &__publications-navi-list {
    width: 100%;
    text-align: center;

    @media (min-width: $breakpoint-md) {
      width: auto;
      display: flex;
      gap: 15px;
    }
  }

  // .header__publications-navi-item

  &__publications-navi-item {
    background: $grey-color;
    border-radius: 12px;

    @media (min-width: $breakpoint-md) {
      background: transparent;
      border-radius: 0;
    }
  }

  // .header__publications-navi-item-mg

  &__publications-navi-item-mg {
    margin-bottom: 15px;
  }

  // .header__publications-navi-link

  &__publications-navi-link {
    @include title__fw-fz-lh(700, 24px, 29px);
    color: $color-regular;
    &.active {
      color: $background-accent;
    }
    @media (min-width: $breakpoint-md) {
      @include title__fw-fz-lh(700, 16px, 20px);
    }
  }

  // .header__nav-link

  &__nav-link {
  }
}
.container__publications {
}

.active {
}
